.cardEspecif img{
    height: 5rem;
    width: 5rem;
    color: #fff;
}
.cardEspecif{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: "Orbitron", sans-serif;
}
.cardCar {
    border: 0.4px solid #999;
    height: auto;
}
.imgAuto{
    width: 30rem;
}
.informacion{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.descTitle{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}