@import "tailwindcss";
*{
  scroll-behavior: smooth;
}
body{
  background-color: #0a0a0a;
  color: #fff;
}
.bannContainer{
  height: 400px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.tituloSeccion{
  font-family: "Orbitron",sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.bannerContent{
  transform-origin: left;
  background-image: linear-gradient(to right,#0a0a0acb,#0a0a0a00);
  transform: scaleX(0);
  animation: appearContent 0.6s ease-in;
  transform: scaleX(1);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  gap:1rem;

}
.textBanContent{
  position: absolute;
  top: 50%;

  left: -30%;
  opacity: 0;
  animation: enterFromLeft 3s;
  left: 5%;
  opacity: 1;
}
 @keyframes enterFromLeft{
  0%{
    left: -30%;

  }
  100%{
  left: 5%;
  opacity: 1;
    

  }
 }
@keyframes appearContent {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
.titleFont{
  font-family: "Montserrat", sans-serif;

}

@media(min-width:1433px){
  .bannContainer{
    height: 550px;
  }
}
@media(max-width:2025px){
    .cardCateg{
    padding: 1rem;
  }
}
@media(min-width:2025px){
    .bannContainer{
    height: 950px;
  }
  .acercaRallySect{
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
  .cardAcercaRally{
    gap: 2rem;
  }
  p{
    font-size: 18px;
  }
  h3{
    font-size: 30px;
  }
  .textCard{
    font-size: 20px;
  }
  .cardCateg{
    padding: 4rem;
  }
}
